{% extends 'base.html' %}

<!-- The body -->
{% block content %}
    <!-- Sign up form -->
    <div class="container">
      <form action="#" method="POST">
        {% csrf_token %}
        <div class="row justify-content-md-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="login-screen">
              <div class="login-box">
                <a href="#" class="login-logo">
                  <img src="//ssl.gstatic.com/accounts/ui/logo_2x.png" alt="PLP Online Store">
                </a>

                <!-- Input fields -->
                <div class="row gutters">
                  <!-- first_name -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                  </div>
                  <!-- last_name -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                  </div>
                  <!-- username -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <input type="text" name="username" required class="form-control" placeholder="Username">
                    </div>
                  </div>
                  <!-- email -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" required placeholder="Email">
                    </div>
                  </div>
                  <!-- password -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <input type="password" class="form-control" name="password1" required placeholder="Password">
                    </div>
                  </div>
                  <!-- confirm password -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <input type="password" class="form-control" name="password2" required placeholder="Confirm Password">
                    </div>
                  </div>
                </div>

                <!-- Submissions -->
                <div class="actions clearfix">
                  <button type="submit" class="btn btn-primary btn-block">Signup</button>
                </div>
                <div class="or">
                  <span>or signup using</span>
                </div>
                <div class="row gutters">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <button type="submit" class="btn btn-tw btn-block">Twitter</button>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <button type="submit" class="btn btn-fb btn-block">Facebook</button>
                  </div>
                </div>
                <a href="#" class="additional-link">Have an Account? <span>Login Now</span></a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- {{form}} -->
{% endblock %}